@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}