* {
  box-sizing: border-box;
}

.wrapper{
  display: block;
  width: 1000px;
  height: 700px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

#backdrop {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#screen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

#background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}