@import url('//fonts.googleapis.com/css?family=Press+Start+2P')

@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  padding-top: 20px;
  background-color: black;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 { 
  font-size: 2.2em;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.3em;
  margin: 20px;
}

.game-title {
  font-family: 'Press Start 2P';
}

/*MENU ITEMS*/
#menu {
  z-index: 4;
  color: #C5EFF7;
  height: 700px;
  width: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../assets/menu-background2.jpg');
  background-size: cover;
}

.position {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
}

.coop,
.versus {
  border: 1px solid white;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: auto;
  text-align: center;
  opacity: 0.4;
}

.title-img {
  width: 500px;
  height: 160px;
}

.versus img {
  height: 150px;
  width: 150px; 
}

.coop img {
  height: 150px;
  width: 150px;
}

.wrapper{
  display: block;
  width: 1000px;
  height: 700px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

/*CHARACTER SELECTION*/
#character-selection {
  z-index: 3;
  color: #C5EFF7;
  height: 700px;
  width: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../assets/menu-background2.jpg');
  background-size: cover;
}

.character-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.archer,
.assassin,
.mage {
  border: 1px solid white;
  height: 500px;
  width: 280px;
  opacity: 0.6;
}

.archer img, 
.assassin img,
.mage img {
  height: 70px;
  margin: 0 auto;
  display: block;
}


/*THREE CANVAS*/
#backdrop {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#screen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

#background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}


/*ACTIVE STATES*/
.versus:hover {
  color: white;
  opacity: 1;
}

.coop:hover {
  color: white;
  opacity: 1;
}

.archer:hover {
  color: white;
  opacity: 1;
}

.assassin:hover {
  color: white;
  opacity: 1;
}

.mage:hover {
  color: white;
  opacity: 1;
}
